.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem;
  .video {
    max-width: 500px;
    margin: 0 3rem;
    video {
      width: 100%;
    }
  }
  .description {
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .video {
      margin: 2rem auto;
    }
    .description {
      h4 {
        text-align: center;
      }
    }
  }
}
