.container {
  background-color: #ddd;
  padding: 5rem;

  .maxWidth {
    max-width: 1200px;
    align-items: initial;
    display: flex;
    margin: 0 auto;
  }

  .detail {
    font-size: 1.8rem;
    h3 {
      font-size: 3.2rem;
    }
    ul {
      margin-top: 3rem;
    }
    li {
      display: flex;
      margin: 1rem 0;
      svg {
        width: 2rem;
        margin: 0 5px;
      }
    }
  }

  .images {
    margin: 0 2rem;
    max-width: 600px;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    .maxWidth {
      flex-direction: column-reverse;
    }
    .detail {
      margin-top: 2rem;
      font-size: 1.2rem;
      h3 {
        font-size: 2rem;
      }
    }
    .images {
      margin: 0 auto;
    }
  }
}
